<mat-drawer-container class="admin-container">

    <mat-card class="admin-container">
      <mat-card-title>
        Lista de dinosaurios
      </mat-card-title>
      <mat-nav-list class="dino-list-card-SELECTED"
          *ngFor="let purchase of shopList">
        <mat-card class="dino-card">
          <mat-card-header>
            <mat-card-title>{{purchase.especie}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span>Dinosaurio de tipo {{purchase.tipo}} que habitaba en {{purchase.habitat}}</span><br>
            <span>Tes {{purchase.cantidad}} dinosaurios deste tipo na cesta</span>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button (click)="delete(purchase.id)">ELIMINAR</button>
          </mat-card-actions>

        </mat-card>
      </mat-nav-list>
    </mat-card>

</mat-drawer-container>


