<mat-drawer-container class="admin-container">

    <mat-card class="admin-container">
      <mat-card-title>
        Lista de dinosaurios
      </mat-card-title>
      <mat-nav-list class="dino-list-card-SELECTED"
          *ngFor="let dino of dinosaurs">
        <mat-card class="dino-card">
          <mat-card-header>
            <mat-card-title>{{dino.especie}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span>Dinosaurio de tipo {{dino.tipo}} que habitaba en {{dino.habitat}}</span>
          </mat-card-content>
        </mat-card>
      </mat-nav-list>
    </mat-card>
</mat-drawer-container>


