.precio{
  white-space: nowrap;
  width: 200px;
  border: 1px solid #7FFFD4;
  overflow: hidden;
  text-overflow: clip;
}
.client-detail-container{
  height: auto;
  width: auto;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
}
.client-layout{
  display: flex;
  flex: 1 1 auto;
}
.button-back{
  padding-right: 8px;
  padding-top: 28px;
}

