
.app-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
mat-grid-tile {
  background: lightblue;
}
mat-paginator {
  background: black;
 
}

.app-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.app-sidenav {
  padding: 100px;
}

.spacer {
  flex: 1 1 auto;
}
